In [1]:
import numpy as gh
import pandas as pd

In [8]:
df=pd.DataFrame(gh.arange(0,100,5).reshape(5,4),index=["R1","R2","R3","R4","R5"],columns=["C1", "C2","C3","C4"])

In [9]:
df

    C1  C2  C3  C4
R1   0   5  10  15
R2  20  25  30  35
R3  40  45  50  55
R4  60  65  70  75
R5  80  85  90  95

In [10]:
df.shape

(5, 4)

In [14]:
df.isnull().sum()

C1    0
C2    0
C3    0
C4    0
dtype: int64

In [15]:
df.to_csv("Texr2.csv")

In [17]:
df.loc["R1"]

C1     0
C2     5
C3    10
C4    15
Name: R1, dtype: int32

In [22]:
df.iloc[0:2,0:2]

    C1  C2
R1   0   5
R2  20  25

In [33]:
df.value_counts("C1")

C1
0     1
20    1
40    1
60    1
80    1
Name: count, dtype: int64

In [31]:
df[df["C1"]>0]

    C1  C2  C3  C4
R2  20  25  30  35
R3  40  45  50  55
R4  60  65  70  75
R5  80  85  90  95

In [32]:
df.info

<bound method DataFrame.info of     C1  C2  C3  C4
R1   0   5  10  15
R2  20  25  30  35
R3  40  45  50  55
R4  60  65  70  75
R5  80  85  90  95>