##Installing pandas

Importing Pandas

In [20]:
import pandas as pd
import numpy as np

### Playing with dataframe
#### Creating table of array using arange and reshape function from numpy

In [21]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["column1","column2","column3","column4"])

print(df)

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [22]:
ap=pd.DataFrame(np.arange(0,20).reshape(4,5),index=["row1","row2","row3","row4"],columns=["column1","column2","column3","column4","column5"])
print(ap)

      column1  column2  column3  column4  column5
row1        0        1        2        3        4
row2        5        6        7        8        9
row3       10       11       12       13       14
row4       15       16       17       18       19

This save your array/data to a comma seperated value file

In [23]:
df.to_csv("Text1.csv")

## Accessing the element

### This will provide you you with some perticular row

In [24]:
print(df.loc["row1"])

type(df.loc["row1"])

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int32

pandas.core.series.Series

#### This will display certain number of rows and coulmns from the generated table

##### If there is more than one or coulmn the the data type will be dataframe otherwise the datatype will be series

In [25]:
df.iloc[:2,:2]

type(df.iloc[:2,:2])

pandas.core.frame.DataFrame

#### Converting the dataframes into the arrays

In [8]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

#### This function tell us how many nul values are present in our array/table

In [9]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

#### This function give the number of times an element is repeted in an perticular column
#### value_count is mainly used for series(single column )

In [32]:
df["column1"].value_counts()

column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

#### This function gives the unique element present in an perticular column

In [28]:
df["column1"].unique()

array([ 0,  4,  8, 12, 16])